
body {
    margin: 0;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    background-color: #FDF4F5;
}

hr {
    border: dotted 6px #be3333;
    width: 6%;
    border-bottom: none;
    margin: 100px auto;
}


h1 {
    color: #fb9696;
    margin: 120px auto 0;
    font-size: 5rem;
}

h2 {
    color: #fb9696;
}

h3 {
    color: #f4a7a7;
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    font-weight: normal;
}

p, ul {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2;
    color: #20262E;
    margin-top: 0;
}


.top-container {
    position: relative;
    padding-top: 100px;
}

.profile,
.skill-row {
    width: 50%;
    margin: 100px auto;
}

.skill-row {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 30px;
}


.uku,
.trophy {
    width: 25%;
}

.cat {
    width: 150px;
    border: 3px solid #be3333;
}


.amateur {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    background: #fb9696;
    color: #000;
    border-radius: 28px;
    text-decoration: none;
    font-family: monospace;
    box-shadow: 1px 1px 3px #666;
}

.btn:hover {
    background: #ffffff;
}


.bottom-container {
    background-color: #b26a6a;
    padding: 50px 0 20px;
}

#end-part {
    color: #ffffff;
}
